.about {
  padding: 6rem 3rem;
  background-color: #1a1a1a;
  color: white;
  text-align: center;
}
.about-container {
  max-width: 960px;
  margin: 0 auto;
}
.about h2 {
  font-size: 2.5rem;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 1rem;
}
.about p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #ccc;
}
.about-stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  
}
.about-stats div {
  min-width: 100px;
}
.about-stats h3 {
  font-size: 2rem;
  color: #e62222;
  margin-bottom: 0;
}


