.sponsors {
  padding: 6rem 3rem;
  background-color: #1a1a1a;
  color: white;
  text-align: center;
}
.sponsors h2 {
  font-size: 2.5rem;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 2rem;
}
.sponsor-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.sponsor-logo {
  /* background: #333; */
  padding: 2rem;
  /* border-radius: 1rem; */
  min-width: 120px;
  text-align: center;
  color: #ccc;
  font-weight: bold;
}
.sponsor-image {
  width: 250px;
  height: 150px;
  /* background: #333; */
  /* border-radius: 0.5rem; */
  margin-bottom: 1rem;
}
.sponsor-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* border-radius: 0.5rem; */
}

@media (max-width: 400px) {
  .sponsor-logos {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; 
    gap: 1.5rem;
  }

  .sponsor-logo {
    width: 100%;          
    max-width: 250px;     
    text-align: center;
  }

  .sponsor-image {
    width: 100%;
    max-width: 200px;     
    height: auto;        
  }

  .sponsor-image img {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: contain;
  }
}


